$__main_bg_color: #161615;
$__main_color: #fdfddf;
$__cyber_light_color: #fcee0a;
$__cyber_dark_color: #000;

$main_bg_color: var(--main-bg-color);
$main_color: var(--main-color);

$cyber_dark_color: var(--cyber-dark-color);
$cyber_light_color: var(--cyber-light-color);

$d3_effect_pink: #ff00a6aa;
$d3_effect_blue: #00f7ffaa;

